@require 'nib'

_centered-absolute()
  position: absolute
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%

_hypotnuse(n)
  math(((n ** 2) * 2), 'sqrt')

zoo-logo(size = 25px, color = black)
  // outer circle
  position: relative
  border-radius: 50%
  background: transparent
  width: unit(size, 'px')
  height: unit(size, 'px')
  box-shadow: inset 0 0 0 unit(size * .15, 'px') color

  &::before
    // inner circle
    content: ""
    _centered-absolute()
    border-radius 50%
    background: color
    width: unit(size * .4, 'px')
    height: unit(size * .4, 'px')
    float: left

  &::after
    // diagonal
    content: ""
    _centered-absolute()
    border-radius: 50%
    background: color
    width: unit(_hypotnuse(size), 'px')
    height: unit(size * .15, 'px')
    transform: translate(-50%, -50%) rotate(-45deg)

.zoo-logo
  zoo-logo(300px, royalblue)
